/*==============================
=            Import            =
==============================*/
/* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*=================================================================
=            Extra Mixins by Unicrow — www.unicrow.com            =
=================================================================*/
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
/*==============================
=            Colors            =
==============================*/
/*=============================================
=            Font Stacks Variables            =
=============================================*/
/*============================
=            Size            =
=============================*/
/*=============================================
=            Font Face Definitions            =
=============================================*/
@font-face {
  font-family: "hero";
  src: url('../font/Hero/hero-webfont.eot');
  src: url('../font/Hero/hero-webfont.eot?#iefix') format('embedded-opentype'), url('../font/Hero/hero-webfont.woff') format('woff'), url('../font/Hero/hero-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "avenir";
  src: url('../font/AvenirNext/Regular/avenirnextregular.eot');
  src: url('../font/AvenirNext/Regular/avenirnextregular.eot?#iefix') format('embedded-opentype'), url('../font/AvenirNext/Regular/avenirnextregular.woff') format('woff'), url('../font/AvenirNext/Regular/avenirnextregular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "avenir";
  src: url('../font/AvenirNext/Italic/avenirnextregularitalic.eot');
  src: url('../font/AvenirNext/Italic/avenirnextregularitalic.eot?#iefix') format('embedded-opentype'), url('../font/AvenirNext/Italic/avenirnextregularitalic.woff') format('woff'), url('../font/AvenirNext/Italic/avenirnextregularitalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "avenir";
  src: url('../font/AvenirNext/Medium/avenirnextmedium.eot');
  src: url('../font/AvenirNext/Medium/avenirnextmedium.eot?#iefix') format('embedded-opentype'), url('../font/AvenirNext/Medium/avenirnextmedium.woff') format('woff'), url('../font/AvenirNext/Medium/avenirnextmedium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "avenir";
  src: url('../font/AvenirNext/DemiBold/avenirnextdemibold.eot');
  src: url('../font/AvenirNext/DemiBold/avenirnextdemibold.eot?#iefix') format('embedded-opentype'), url('../font/AvenirNext/DemiBold/avenirnextdemibold.woff') format('woff'), url('../font/AvenirNext/DemiBold/avenirnextdemibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "avenir";
  src: url('../font/AvenirNext/DemiBoldItalic/avenirnextdemibolditalic.eot');
  src: url('../font/AvenirNext/DemiBoldItalic/avenirnextdemibolditalic.eot?#iefix') format('embedded-opentype'), url('../font/AvenirNext/DemiBoldItalic/avenirnextdemibolditalic.woff') format('woff'), url('../font/AvenirNext/DemiBoldItalic/avenirnextdemibolditalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "avenir";
  src: url('../font/AvenirNext/Bold/avenirnextbold.eot');
  src: url('../font/AvenirNext/Bold/avenirnextbold.eot?#iefix') format('embedded-opentype'), url('../font/AvenirNext/Bold/avenirnextbold.woff') format('woff'), url('../font/AvenirNext/Bold/avenirnextbold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "avenirCondensed";
  src: url('../font/AvenirNextCondensed/avenirnextcondensedbold.eot');
  src: url('../font/AvenirNextCondensed/avenirnextcondensedbold.eot?#iefix') format('embedded-opentype'), url('../font/AvenirNextCondensed/avenirnextcondensedbold.woff') format('woff'), url('../font/AvenirNextCondensed/avenirnextcondensedbold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
/*================================================
=            Basic Typography Settins            =
================================================*/
body {
  font: 15px avenir, Helvetica, Arial, sans-serif;
  line-height: 20px;
  color: #141414;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
a {
  text-decoration: none;
}
/*================================
=            Headings            =
================================*/
h1 {
  position: relative;
  margin-bottom: 30px;
  font: 600 24px avenir, Helvetica, Arial, sans-serif;
  color: #f15d48;
  letter-spacing: 2.4px;
  text-align: center;
  text-transform: uppercase;
}
h2 {
  font: 600 18px avenir, Helvetica, Arial, sans-serif;
}
/*==============================
=            Layout            =
==============================*/
html,
body {
  height: 100%;
  background-color: #141414;
  overflow: hidden;
}
input {
  outline: 0;
}
* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}
input {
  -webkit-touch-callout: auto;
  -webkit-user-select: auto;
  user-select: auto;
}
#urlButton,
#virtualKeyboardChromeExtensionDraggableLeft,
#virtualKeyboardChromeExtensionDraggableRight {
  display: none !important;
}
#virtualKeyboardChromeExtension {
  bottom: 0px !important;
  left: 560px !important;
}
/*======================================
=            Common Element            =
======================================*/
.live {
  width: 316px;
  height: 66px;
  margin: 80px auto 0;
  -webkit-border-radius: 33px;
  -moz-border-radius: 33px;
  border-radius: 33px;
  background-color: rgba(20, 20, 20, 0.9);
  font: 30px/67px hero, Helvetica, Arial, sans-serif;
  text-align: center;
  color: #7f7f7f;
  letter-spacing: 2.6px;
}
.live span {
  display: inline-block;
  height: 66px;
  margin-left: -15px;
  padding-left: 50px;
  background: url("../img/icon/live.png") no-repeat 0 6px;
  color: #fff;
}
.black-active {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 121px;
  padding: 5px 0;
  background-color: rgba(20, 20, 20, 0.4);
}
.black-active.program-list {
  margin-top: 0px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.black-active.program-list.active {
  margin-top: 15px;
  opacity: 1;
  visibility: visible;
}
.black-active.program-list:before {
  position: absolute;
  left: 50%;
  top: -20px;
  margin-left: -10px;
  display: block;
  content: " ";
  border: solid transparent;
  border-bottom-color: rgba(20, 20, 20, 0.4);
  border-width: 10px;
  width: 0;
  height: 0;
}
.black-active.program-list .wrap {
  position: relative;
  width: 100%;
  height: 120px;
  overflow: hidden;
}
.black-active.program-list ul {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 10000px;
}
.black-active.program-list ul li {
  float: left;
  width: 438px;
  height: 120px;
  margin-left: 5px;
  font: normal 18px avenir, Helvetica, Arial, sans-serif;
  background-color: #eaddce;
  color: #90756d;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}
.black-active.program-list ul li.active {
  background-color: #fff;
}
.black-active.program-list ul li.active p {
  color: #141414;
}
.black-active.program-list ul li p {
  float: left;
  width: 273px;
  padding: 25px 0 15px 20px;
  font: 500 17px/21px avenir, Helvetica, Arial, sans-serif;
}
.black-active.program-list ul li p .talker {
  display: block;
  margin-top: 5px;
  font: 500 16px avenir, Helvetica, Arial, sans-serif;
  color: #90756d;
}
.black-active.program-list ul li p .talker strong {
  font-weight: bold;
}
.black-active.program-list ul li .time {
  float: right;
  width: 125px;
  padding: 17px 18px 15px 0;
  font: normal 36px/44px avenir, Helvetica, Arial, sans-serif;
  text-align: right;
  background: url("../img/icon/time.png") no-repeat 0 center;
}
.black-active.color-palette {
  position: absolute;
  left: 0;
  bottom: 145px;
  text-align: center;
}
.black-active.color-palette:after {
  position: absolute;
  left: 50%;
  bottom: -20px;
  margin-left: -109px;
  display: block;
  content: " ";
  border: solid transparent;
  border-top-color: rgba(20, 20, 20, 0.4);
  border-width: 10px;
  width: 0;
  height: 0;
}
.black-active.color-palette div {
  position: relative;
  display: inline-block;
  width: 131px;
  height: 120px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  margin-left: 5px;
}
.black-active.color-palette div.selected.dark:before {
  position: absolute;
  left: 50%;
  top: 50%;
  display: block;
  content: " ";
  width: 40px;
  height: 40px;
  margin: -20px 0 0 -20px;
  background: url("../img/sprite.png") no-repeat -284px -88px;
}
.black-active.color-palette div.selected:before {
  position: absolute;
  left: 50%;
  top: 50%;
  display: block;
  content: " ";
  width: 40px;
  height: 40px;
  margin: -20px 0 0 -20px;
  background: url("../img/sprite.png") no-repeat -284px -36px;
}
.black-active.pencil-size {
  position: absolute;
  left: 50%;
  bottom: 145px;
  width: 340px;
  margin-left: -85px;
  text-align: center;
}
.black-active.pencil-size:after {
  position: absolute;
  left: 50%;
  bottom: -20px;
  margin-left: -6px;
  display: block;
  content: " ";
  border: solid transparent;
  border-top-color: rgba(20, 20, 20, 0.4);
  border-width: 10px;
  width: 0;
  height: 0;
}
.black-active.pencil-size .size-slider {
  width: 261px;
  height: 58px;
  margin: 30px auto;
  background: url("../img/sprite.png") no-repeat -132px -465px;
}
.black-active.pencil-size .size-slider.dark {
  background-position: -132px -529px !important;
}
.black-active.pencil-size .handle {
  width: 20px;
  height: 20px;
  background-color: black;
  bottom: 41px;
  position: absolute;
  left: 44px;
  -webkit-border-radius: 250px;
  -moz-border-radius: 250px;
  border-radius: 250px;
}
.btn {
  display: inline-block;
  width: 100px;
  height: 113px;
  background: url("../img/sprite.png") no-repeat 0 0;
  text-indent: -20000px;
}
.btn.active {
  background-position: 0px -118px !important;
}
.btn.dark {
  background-position: 0px -236px !important;
}
.btn.dark.active {
  background-position: 0px -354px !important;
}
.btn.dark .icon.camera {
  background-position: -205px -207px !important;
}
.btn.dark .icon.upload {
  background-position: -205px -36px !important;
}
.btn.dark .icon.color-palette {
  background-position: -205px -262px !important;
}
.btn.dark .icon.cancel {
  background-position: -205px -88px !important;
}
.btn.dark .icon.ok {
  background-position: -205px -148px !important;
}
.btn.dark .icon.pencil-size {
  background-position: -205px -316px !important;
}
.btn .icon {
  display: block;
  background: url("../img/sprite.png") no-repeat 0 0;
}
.btn .icon.camera {
  background-position: -130px -207px !important;
  width: 46px;
  height: 34px;
  position: absolute;
  left: 27px;
  top: 39px;
}
.btn .icon.upload {
  background-position: -130px -36px !important;
  width: 47px;
  height: 31px;
  position: absolute;
  left: 26px;
  top: 39px;
}
.btn .icon.color-palette {
  background-position: -130px -262px !important;
  width: 45px;
  height: 39px;
  position: absolute;
  left: 28px;
  top: 34px;
}
.btn .icon.cancel {
  background-position: -130px -88px !important;
  width: 47px;
  height: 32px;
  position: absolute;
  left: 27px;
  top: 41px;
}
.btn .icon.ok {
  background-position: -130px -148px !important;
  width: 47px;
  height: 32px;
  position: absolute;
  left: 27px;
  top: 41px;
}
.btn .icon.pencil-size {
  background-position: -130px -316px !important;
  width: 40px;
  height: 40px;
  position: absolute;
  left: 30px;
  top: 36px;
}
.back {
  width: 82px;
  height: 50px;
  text-indent: -2000px;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.back.active {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.back.arrow-bottom {
  position: absolute;
  left: 30px;
  bottom: 23px;
  z-index: 3;
  background: url("../img/sprite.png") no-repeat -353px -99px;
}
.back.arrow-top {
  position: absolute;
  left: 30px;
  top: 23px;
  z-index: 3;
  background: url("../img/sprite.png") no-repeat -353px -161px;
}
.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 4;
}
.overlay .modal {
  position: absolute;
  left: 50%;
  top: -300px;
  width: 650px;
  height: 430px;
  margin: -215px 0 0 -325px;
  background-color: #ca4e3b;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  text-align: center;
}
.overlay .modal p {
  margin: 75px 0 48px 0;
  font: bold 30px/34px avenir, Helvetica, Arial, sans-serif;
  color: #fff;
}
.overlay .modal input {
  width: 450px;
  height: 65px;
  margin: 10px 0 42px 0;
  font: normal 30px/34px avenir, Helvetica, Arial, sans-serif;
  color: #90756d;
  border: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  text-align: center;
}
.overlay .modal input::-webkit-input-placeholder {
  color: #eaddce;
  line-height: 41px;
}
.overlay .modal .gonder,
.overlay .modal .close-popup {
  display: inline-block;
  width: 205px;
  height: 65px;
  margin-right: 36px;
  font: 500 24px/69px avenir, Helvetica, Arial, sans-serif;
  background-color: #2c6ed5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #fff;
}
.overlay .modal .gonder.active,
.overlay .modal .close-popup.active {
  background-color: #4281E4;
}
.overlay .modal .close-popup {
  background-color: #f15d48;
  margin-right: 0px;
}
.overlay .modal .close-popup.active {
  background-color: #F16A57;
}
.overlay .modal .alert .success,
.overlay .modal .alert .error {
  padding-top: 150px;
  background: url("../img/icon/modal-alert-result.png") no-repeat center -289px;
}
.overlay .modal .alert .error {
  background-position: center 0px !important;
}
.keyboard {
  position: absolute;
  left: 0;
  bottom: 0;
  bottom: -333px;
  width: 1920px;
  height: 333px;
  background: #222222;
  text-align: center;
  z-index: 10000;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.keyboard.active {
  bottom: 0;
}
.keyboard .letters,
.keyboard .numbers {
  display: inline-block;
  width: 1250px;
}
.keyboard .letters .row:before,
.keyboard .numbers .row:before,
.keyboard .letters .row:after,
.keyboard .numbers .row:after {
  content: "";
  display: table;
}
.keyboard .letters .row:after,
.keyboard .numbers .row:after {
  clear: both;
}
.ie6 .keyboard .letters .row,
.ie6 .keyboard .numbers .row,
.ie7 .keyboard .letters .row,
.ie7 .keyboard .numbers .row {
  zoom: 1;
}
.keyboard .letters .row.indent,
.keyboard .numbers .row.indent {
  margin-left: 50px;
}
.keyboard .letters .row .rowspan,
.keyboard .numbers .row .rowspan {
  height: 202px;
  margin-bottom: -107px;
}
.keyboard .letters .row .rowspan span,
.keyboard .numbers .row .rowspan span {
  height: 202px;
}
.keyboard .letters .row div,
.keyboard .numbers .row div {
  float: left;
  width: 95px;
  height: 95px;
  background-color: #313131;
  font: normal 36px Helvetica, Arial, Verdana, sans-serif;
  color: #fff;
  vertical-align: middle;
  text-align: center;
  margin: 12px 12px 0 0;
}
.keyboard .letters .row div.active,
.keyboard .numbers .row div.active {
  background-color: #ca4e3b;
}
.keyboard .letters .row div.delete,
.keyboard .numbers .row div.delete {
  width: 130px;
  height: 95px;
}
.keyboard .letters .row div.delete span,
.keyboard .numbers .row div.delete span {
  width: 130px;
  height: 95px;
  background: url("../img/icon/keyboard-delete.png") no-repeat center center;
}
.keyboard .letters .row div span,
.keyboard .numbers .row div span {
  display: table-cell;
  width: 95px;
  height: 95px;
  vertical-align: middle;
}
.keyboard .numbers {
  width: 430px;
}
/*==========  Cube CSS  ==========*/
.container {
  width: 1920px;
  height: 1080px;
  position: relative;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}
#cube {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transform: translateZ(-540px);
  transform: translateZ(-540px);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 0.5s ease-out;
  transition: transform 0.5s ease-out;
}
#cube .page {
  position: absolute;
  width: 1920px;
  height: 1080px;
}
#cube .front {
  -webkit-transform: translateZ(540px);
  transform: translateZ(540px);
}
#cube .top {
  -webkit-transform: rotateX(90deg) translateZ(540px);
  transform: rotateX(90deg) translateZ(540px);
}
#cube .bottom {
  -webkit-transform: rotateX(-90deg) translateZ(540px);
  transform: rotateX(-90deg) translateZ(540px);
}
#cube.show-front {
  -webkit-transform: translateZ(-540px);
  transform: translateZ(-540px);
}
#cube.show-top {
  -webkit-transform: translateZ(-540px) rotateX(-90deg);
  transform: translateZ(-540px) rotateX(-90deg);
}
#cube.show-bottom {
  -webkit-transform: translateZ(-540px) rotateX(90deg);
  transform: translateZ(-540px) rotateX(90deg);
}
/*=============================
=            Pages            =
=============================*/
.page {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #f15d48 !important;
  /*==========  Home  ==========*/

  /*==========  Calendar  ==========*/

  /*==========  Snap  ==========*/

}
.page:before,
.page:after {
  content: "";
  display: table;
}
.page:after {
  clear: both;
}
.ie6 .page,
.ie7 .page {
  zoom: 1;
}
.page.home {
  background: url("../img/bg/timeline.png") no-repeat center 165px;
}
.page.home .logo {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -172px 0 0 -115px;
}
.page.home .language {
  position: absolute;
  left: 50%;
  bottom: 160px;
  width: 120px;
  height: 40px;
  margin-left: -60px;
  -webkit-border-radius: 36px;
  -moz-border-radius: 36px;
  border-radius: 36px;
  background-color: #ca4e3b;
}
.page.home .language span {
  display: inline-block;
  margin: 5px 8px 0 20px;
  color: #f15d48;
  font: bold 24px avenirCondensed, Helvetica, Arial, sans-serif;
}
.page.home .language span.active {
  color: #fff;
}
.page.home .calendar,
.page.home .snap {
  position: relative;
  width: 412px;
  height: 136px;
  margin-top: -128px;
  padding-top: 120px;
  text-align: center;
  color: #fff;
  font: bold 72px avenirCondensed, Helvetica, Arial, sans-serif;
  background: url("../img/icon/calendar-snap.png") no-repeat 0 0;
}
.page.home .calendar span,
.page.home .snap span {
  display: block;
  margin-top: 10px;
  color: #ca4e3b;
  line-height: 50px;
}
.page.home .calendar .home-arrow,
.page.home .snap .home-arrow {
  margin-top: -73px;
  display: block;
  width: 412px;
  height: 121px;
  background: url("../img/icon/home-arrow.png") no-repeat 0 0;
}
.page.home .calendar .home-arrow.up,
.page.home .snap .home-arrow.up {
  position: absolute;
  left: 10px;
  top: -121px;
  z-index: 1;
  background-position: 0 0 !important;
  animation: homeArrowUp 2s;
  -moz-animation: homeArrowUp 2s infinite;
  -webkit-animation: homeArrowUp 2s infinite;
  -o-animation: homeArrowUp 2s infinite;
}
.page.home .calendar .home-arrow.down,
.page.home .snap .home-arrow.down {
  position: absolute;
  left: 0;
  bottom: -193px;
  z-index: 1;
  background-position: 0 -125px !important;
  animation: homeArrowDown 2s;
  -moz-animation: homeArrowDown 2s infinite;
  -webkit-animation: homeArrowDown 2s infinite;
  -o-animation: homeArrowDown 2s infinite;
}
.page.home .calendar {
  position: absolute;
  left: 235px;
  top: 50%;
  background-position: 162px 2px !important;
}
.page.home .calendar .day {
  width: 100px;
  margin-top: 0;
  position: absolute;
  left: 163px;
  top: 45px;
  font-size: 30px;
}
.page.home .snap {
  position: absolute;
  right: 235px;
  top: 50%;
  background-position: -261px 2px !important;
}
@-webkit-keyframes homeArrowUp {
  0% {
    position: absolute;
    left: 10px;
    top: -121px;
  }
  50% {
    position: absolute;
    left: 10px;
    top: -141px;
  }
}
@-webkit-keyframes homeArrowDown {
  0% {
    position: absolute;
    left: 0;
    bottom: -193px;
  }
  50% {
    position: absolute;
    left: 0;
    bottom: -213px;
  }
}
.page.home .unicrow {
  position: absolute;
  left: 50%;
  bottom: 20px;
  width: 150px;
  height: 70px;
  margin-left: -70px;
  background: #f15d48 url("../img/logo/unicrow.png") no-repeat 0 20px;
  text-indent: -20000px;
}
.page.calendar {
  background: url("../img/bg/timeline.png") no-repeat center 0;
}
.page.calendar .days {
  position: absolute;
  left: 50%;
  top: 80px;
  z-index: 3;
  width: 404px;
  height: 66px;
  margin-left: -202.5px;
  -webkit-border-radius: 33px;
  -moz-border-radius: 33px;
  border-radius: 33px;
  background-color: rgba(20, 20, 20, 0.9);
  font: normal 30px/66px avenir, Helvetica, Arial, sans-serif;
  text-align: center;
  color: #7f7f7f;
  letter-spacing: 2.6px;
}
.page.calendar .days li {
  float: left;
  padding: 0 22px;
}
.page.calendar .days li:first-child.active {
  -webkit-border-radius: 33px 0 0 33px;
  -moz-border-radius: 33px 0 0 33px;
  border-radius: 33px 0 0 33px;
  background-color: #fff;
}
.page.calendar .days li:nth-of-type(2) {
  padding: 0 10px;
}
.page.calendar .days li:last-child.active {
  -webkit-border-radius: 0 33px 33px 0;
  -moz-border-radius: 0 33px 33px 0;
  border-radius: 0 33px 33px 0;
  background-color: #fff;
}
.page.calendar .days li.active {
  background-color: #fff;
}
.page.calendar .timeline:before,
.page.calendar .timeline:after {
  content: "";
  display: table;
}
.page.calendar .timeline:after {
  clear: both;
}
.ie6 .page.calendar .timeline,
.ie7 .page.calendar .timeline {
  zoom: 1;
}
.page.calendar .timeline .program {
  position: relative;
  float: left;
  width: 780px;
  height: 120px;
  margin: 0 850px 0 153px;
  font: normal 18px avenir, Helvetica, Arial, sans-serif;
  background-color: #ca4e3b;
  color: #fff;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.page.calendar .timeline .program:before {
  position: absolute;
  right: -20px;
  top: 50%;
  display: block;
  margin-top: -10px;
  content: " ";
  border: solid transparent;
  border-left-color: #ca4e3b;
  border-width: 10px;
  width: 0;
  height: 0;
}
.page.calendar .timeline .program.right {
  float: right;
  margin: 0 152px 0 850px;
}
.page.calendar .timeline .program.right:before {
  position: absolute;
  left: -20px;
  top: 50%;
  display: block;
  margin-top: -10px;
  content: " ";
  border: solid transparent;
  border-right-color: #ca4e3b;
  border-width: 10px;
  width: 0;
  height: 0;
}
.page.calendar .timeline .program.right .time,
.page.calendar .timeline .program.right img,
.page.calendar .timeline .program.right p {
  float: right;
}
.page.calendar .timeline .program.right .time {
  float: left;
  width: 130px;
  background-position: -64px center !important;
  padding-right: 0px;
  padding-left: 18px;
  text-align: left;
}
.page.calendar .timeline .program.right img {
  margin: 10px 10px 0 0;
}
.page.calendar .timeline .program.right p {
  padding: 25px 10px 15px 0px;
}
.page.calendar .timeline .program.right .time-point {
  position: absolute;
  left: -35px;
  top: 50%;
}
.page.calendar .timeline .program.now {
  background-color: #fff;
  margin-left: 130px;
}
.page.calendar .timeline .program.now p {
  color: #141414;
}
.page.calendar .timeline .program.now p .talker {
  color: #90756d;
}
.page.calendar .timeline .program.now:before {
  border-left-color: #fff;
}
.page.calendar .timeline .program.now.right {
  margin-right: 130px;
}
.page.calendar .timeline .program.now.right:before {
  border-right-color: #fff;
  border-left: none;
  position: absolute;
  left: -10px;
  top: 50%;
}
.page.calendar .timeline .program.now.right .time-point {
  left: -62px;
}
.page.calendar .timeline .program.now .time {
  color: #90756d;
  background-position: 126px center !important;
}
.page.calendar .timeline .program.now .time-point {
  border: 3px solid #fff;
  width: 18px;
  height: 18px;
  right: -62px;
  -webkit-box-shadow: inset 0 0 0 3px #f15d48;
  -moz-box-shadow: inset 0 0 0 3px #f15d48;
  box-shadow: inset 0 0 0 3px #f15d48;
  margin-top: -12px;
}
.page.calendar .timeline .program.past .time {
  color: #f15d48;
}
.page.calendar .timeline .program .time-point {
  position: absolute;
  right: -35px;
  top: 50%;
  display: block;
  width: 15px;
  height: 15px;
  margin-top: -7.5px;
  background-color: #ca4e3b;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  text-indent: -200000px;
}
.page.calendar .timeline .program img {
  float: left;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin: 10px 0 0 10px;
}
.page.calendar .timeline .program p {
  float: left;
  width: 495px;
  padding: 25px 0 15px 20px;
  font: 500 18px/22px avenir, Helvetica, Arial, sans-serif;
}
.page.calendar .timeline .program p .talker {
  display: block;
  margin-top: 5px;
  font: 500 16px avenir, Helvetica, Arial, sans-serif;
  color: #eaddce;
}
.page.calendar .timeline .program p .talker strong {
  font-weight: bold;
}
.page.calendar .timeline .program .time {
  float: right;
  width: 125px;
  padding: 17px 18px 15px 0;
  font: normal 36px/44px avenir, Helvetica, Arial, sans-serif;
  text-align: right;
  background: url("../img/icon/time.png") no-repeat -192px center;
  -webkit-transition: color 0.5s ease;
  -moz-transition: color 0.5s ease;
  transition: color 0.5s ease;
}
.page.snap .anew-snap {
  position: absolute;
  right: 50px;
  top: 40px;
  width: 84px;
  height: 84px;
  background: url("../img/sprite.png") no-repeat -285px -350px;
  text-indent: -20000px;
  z-index: 3;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.page.snap .anew-snap.active {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}
.page.snap .clear {
  position: absolute;
  right: 140px;
  top: 40px;
  width: 84px;
  height: 84px;
  background: url("../img/sprite.png") no-repeat -285px -244px;
  text-indent: -20000px;
  z-index: 3;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.page.snap .clear.active {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}
.page.snap .framing {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 1214px;
  height: 614px;
  margin: -352px 0 0 -607px;
  background: url("../img/icon/framing.png") no-repeat 0 0;
  z-index: 5;
}
.page.snap .footer {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 2;
  width: 100%;
  height: 100px;
  background-color: #ca4e3b;
  text-align: center;
}
.page.snap .footer .btn {
  position: relative;
  top: -28px;
  margin-left: -10px;
}
.page.snap video {
  margin-top: -180px;
  z-index: -1;
  position: absolute;
  left: 0;
  bottom: 0;
}
.page.snap canvas {
  position: absolute;
  left: 0;
  bottom: 0;
}
