<div class="container">
    <span class="city">{{ _("Istanbul") }}</span>
    <h1>{{ _("JsPy Konferansı") }}</h1>
    <h2>{{ _("30-31 Mart 2013 — Özyeğin Üniversitesi") }}</h2>
    <p>Web'in yaşam standardı olduğu günümüz dünyasında bu teknolojinin en modern ve geniş
    kullanımlı takipçilerinden JavaScript, Python ve Ruby programlama dilleri ve sundukları
    avantajları Türkiye'de ilki düzenlenecek olan bu konferansta konuşuyoruz!</p>
    <a href="http://jspyconf.eventbrite.com/" class="button">{{ _("Hemen Kaydol") }}</a>
</div><!-- end container -->
