<div class="container">
    <span class="city">{{ _("Istanbul") }}</span>
    <h1>{{ _("JsPy Konferansı") }}</h1>
    <h2>{{ _("Konferans Sona Erdi") }}</h2>
    <p>Web'in yaşam standardı olduğu günümüz dünyasında bu teknolojinin en modern ve geniş
    kullanımlı takipçilerinden JavaScript, Python ve Ruby programlama dilleri ve sundukları
    avantajları Türkiye'de ilki düzenlenecek olan bu konferansta konuşuyoruz!</p>
    <a href="mailto:info@jstanbul.org" class="button">{{ _("Görüşünüzü Paylaşın") }}</a>
</div><!-- end container -->
