<div id="devpod">
    <div class="container">
        <h1><span>devPod</span></h1>
        <a href="http://devpod.tumblr.com/"><img src="/static/img/logo/devpod.jpg" alt="devPod"></a>
        <div class="detail">
            <p>
                JsPyConf için özel olarak hazırlanan DevPod podcast kayıtlarını aşağıdaki
                bağlantılar üzerinden dinleyebilirsiniz.
            </p>
            <ul>
                <li><a href="http://devpod.tumblr.com/post/45518809130/bolum-014-ozel-say">devPod JsPyConf 2013 Özel Sayı</a></li>
                <li><a href="http://devpod.tumblr.com/post/48361516530/jspy-conf-2013-roportaj-kenneth-reitz">devPod JsPyConf 2013 Röportaj: Kenneth Reitz</a></li>
                <li><a href="http://devpod.tumblr.com/post/48361648376/jspy-conf-2013-enstantaneler">devPod JsPyConf 2013 Enstantaneler</a></li>
                <li><a href="http://devpod.tumblr.com/post/48361762645/bolum-015">devPod JsPyConf 2013 Konferans Sonrası</a></li>
            </ul>
        </div>
    </div><!-- end container -->
</div><!-- end devpod -->
