<div id="faq">
    <div class="container">
        <h1><span>{{ _("Sıkça Sorulan Sorular") }}</span></h1>
        <ol>
            <li>
                <h2><a href="#">Öğle yemeğini nerede yiyebilirim?</a></h2>
                <p>
                    Etkinlik boyunca yerleşkenin yemekhanesi açık olacak ve 5 çeşit yemek 8 TL
                    fiyatla konferans katılımcılarına sunulacak.
                </p>
            </li>
            <li>
                <h2><a href="#">Çay kahve gibi ihtiyaçlarımı nereden giderebilirim?</a></h2>
                <p>
                    Etkinlik boyunca anlaşmalı catering hizmetiyle çay kahve gibi ihtiyaçlarınızı ücretsiz
                    olarak sağlayabilirsiniz.
                </p>
            </li>
        </ol>

        <div class="call-to-action">
            <p>{{ _("Aklınıza takılan bir sorunuz mu var?") }}</p>
            <a href="mailto:info@jstanbul.org" class="button">{{ _("Bize Ulaşın") }}</a>
        </div><!-- end call-to-action -->
    </div><!-- end container -->
</div><!-- end faq -->
