{% extends "layout.html" %}

{% block intro %}
    {% if on_event %}
        {% include "on_event.html" ignore missing with context %}
    {% else %}
        {% include "before_event.html" ignore missing without context %}
    {% endif %}
{% endblock %}

{% block blog %}
    {% include "blog.html" ignore missing with context %}
{% endblock %}

{% block schedule %}
    {% include "schedule.html" ignore missing without context %}
{% endblock %}

{% block speakers %}
    {% include "speakers.html" ignore missing without context %}
{% endblock %}

{% block transportation %}
    {% include "transportation.html" ignore missing without context %}
{% endblock %}

{% block organizators %}
    {% include "organizators.html" ignore missing without context %}
{% endblock %}
