{% extends "layout.html" %}

{% block tweets %}
    {% for status in statuses %}
        <li class="{{ loop.cycle('odd', 'even') }}">
            <p>{{ status.text }}</p>
            <a href="https://twitter.com/jspyconf/status/{{ status.id }}">{{ status.created_at }}</a>
        </li>
    {% endfor %}
{% endblock %}

{% block organizators %}
<ul class="frame">
    <li>
        <div class="default-picture">Fotoğraf Yok</div>
        <h2>Fatih Kadir Akın</h2>
        <h3>Markafoni, Jstanbul</h3>
        <ul class="links">
            <li><a href="http://twitter.com/fkadev" class="link-twitter">Twitter</a></li>
            <li><a href="http://github.com/fkadeveloper" class="link-github">Github</a></li>
            <li><a href="http://fatihak.in/" class="link-web">Web</a></li>
        </ul>
    </li>
    <li>
        <div class="default-picture">Fotoğraf Yok</div>
        <h2>Cihan Okyay</h2>
        <h3>Edfor, PyIstanbul</h3>
        <ul class="links">
            <li><a href="http://twitter.com/cihann" class="link-twitter">Twitter</a></li>
            <li><a href="http://github.com/cihann" class="link-github">Github</a></li>
            <li><a href="http://cihanokyay.com/" class="link-web">Web</a></li>
        </ul>
    </li>
    <li>
        <div class="default-picture">Fotoğraf Yok</div>
        <h2>Osman Yüksel</h2>
        <h3>Sonsuzdöngü, Jstanbul</h3>
        <ul class="links">
            <li><a href="http://twitter.com/yuxel" class="link-twitter">Twitter</a></li>
            <li><a href="http://github.com/yuxel" class="link-github">Github</a></li>
            <li><a href="http://yuxel.net" class="link-web">Web</a></li>
        </ul>
    </li>
    <li>
        <div class="default-picture">Fotoğraf Yok</div>
        <h2>Burak Yiğit Kaya</h2>
        <h3>Disqus, Jstanbul</h3>
        <ul class="links">
            <li><a href="http://twitter.com/madbyk" class="link-twitter">Twitter</a></li>
            <li><a href="http://github.com/byk" class="link-github">Github</a></li>
            <li><a href="http://read.byk.im" class="link-web">Web</a></li>
        </ul>
    </li>
    <li>
        <div class="default-picture">Fotoğraf Yok</div>
        <h2>Berker Peksağ</h2>
        <h3>PyIstanbul, Jstanbul</h3>
        <ul class="links">
            <li><a href="http://twitter.com/berkerpeksag" class="link-twitter">Twitter</a></li>
            <li><a href="http://github.com/berkerpeksag" class="link-github">Github</a></li>
            <li><a href="http://berkerpeksag.com" class="link-web">Web</a></li>
        </ul>
    </li>
    <li>
        <div class="default-picture">Fotoğraf Yok</div>
        <h2>Serdar Dalgıç</h2>
        <h3>Markafoni, PyIstanbul</h3>
        <ul class="links">
            <li><a href="http://twitter.com/serdaroncode" class="link-twitter">Twitter</a></li>
            <li><a href="http://github.com/serdardalgic" class="link-github">Github</a></li>
            <li><a href="http://serdardalgic.org" class="link-web">Web</a></li>
        </ul>
    </li>
    <li>
        <div class="default-picture">Fotoğraf Yok</div>
        <h2>Cem Evren Ateş</h2>
        <h3>PozitifTV</h3>
        <ul class="links">
            <li><a href="http://twitter.com/cemevrenates" class="link-twitter">Twitter</a></li>
        </ul>
    </li>
    <li>
        <div class="default-picture">Fotoğraf Yok</div>
        <h2>Yasin Yaman</h2>
        <h3>Jstanbul</h3>
        <ul class="links">
            <li><a href="http://twitter.com/yasnyaman" class="link-twitter">Twitter</a></li>
            <li><a href="http://github.com/muhibbi" class="link-github">Github</a></li>
            <li><a href="http://yasinyaman.com" class="link-web">Web</a></li>
        </ul>
    </li>
</ul>

<ul class="pages">
    <li><a href="#" class="active">1</a></li>
    <li><a href="#">2</a></li>
</ul>
{% endblock %}
