{% set class = ' class="on-event"' if on_event else '' %}
<!DOCTYPE html>
<html lang="{{ locale }}">
<head>
    <meta charset="utf-8">
    <title>{{ _("JsPy Modern Web Konferansı 2013") }}</title>
    <meta name="description" content="{{ _("Modern web teknolojileri hakkında
                                            Türkçe ve İngilizce sunumlar içeren bir konferans.") }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/icon/favicon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.fancybox.css') }}">
    <script src="{{ url_for('static', filename='js/modernizr.custom.15106.js') }}"></script>
    <script>
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-36228674-1']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
</head>
<body{{ class|safe }}>

    <header id="header">
        <div class="container">
            <a href="#" class="logo"><img src="/static/img/logo/jspy2013.png" height="100" width="87" alt=""></a>
            <nav class="main-nav">
                <ul>
                    <li><a href="#" class="active">{{ _("Ana Sayfa") }}</a></li>
                    <li><a href="#sponsors">{{ _("Sponsorlar") }}</a></li>
                    <li><a href="#schedule">{{ _("Program") }}</a></li>
                    <li class="gap"><a href="#speakers">{{ _("Konuşmacılar") }}</a></li>
                    <li><a href="#faq">{{ _("SSS") }}</a></li>
                    <li><a href="#venue">{{ _("Ulaşım") }}</a></li>
                    <li><a class="nav-github" href="https://github.com/jspyconf">Github</a></li>
                    <li class="last"><a class="nav-twitter" href="https://twitter.com/jspyconf">Twitter</a></li>
                </ul>
            </nav><!-- end main-nav -->
        </div><!-- end container -->
    </header>

    <div id="intro">
        {% block intro %}{% endblock %}
    </div><!-- end intro -->

    {% block blog %}{% endblock %}

    {% block presentations %}{% endblock %}

    {% block devpod %}{% endblock %}

    <div id="sponsors">
        <div class="container">
            <h1><span>{{ _("Sponsorlar") }}</span></h1>

            <div id="golden-sponsors" class="sponsor-logos">
                <h2>{{ _("Altın Sponsorlar") }}</h2>
                <a href="http://metglobal.com/"><img class="metglobal" src="/static/img/sponsors/gold/metglobal.png" height="80" width="352" alt=""></a>
                <a href="http://koding.com/"><img src="/static/img/sponsors/gold/koding.png" height="69" width="266" alt=""></a>
            </div><!-- end golden -->

            <div id="silver-sponsors" class="sponsor-logos">
                <h2>{{ _("Gümüş Sponsor") }}</h2>
                <div>
                    <a href="http://sahibinden.com">
                        <img src="/static/img/sponsors/other/sahibinden.png" height="65" width="305" alt="">
                    </a>
                </div>
            </div><!-- end silver -->

            <div id="bronze-sponsors" class="sponsor-logos">
                <h2>{{ _("Bronz Sponsor") }}</h2>
                <div>
                    <a href="http://markafoni.com">
                        <img src="/static/img/sponsors/other/markafoni.png" height="79" width="211" alt="">
                    </a>
                </div>
            </div><!-- end silver -->

            <div id="other-sponsors" class="sponsor-logos">
                <h2>{{ _("Sponsorlar") }}</h2>
                <div><a href="http://www.ozyegin.edu.tr/"><img src="/static/img/sponsors/other/ozyegin.png" height="57" width="194" alt=""></a></div>
                <div class="gap"><a href="http://sonsuzdongu.com/"><img src="/static/img/sponsors/other/sonsuzdongu.png" height="58" width="100" alt=""></a></div>
                <div><a href="http://www.pozitiftv.com/"><img src="/static/img/sponsors/other/pozitiftv.png" height="47" width="147" alt=""></a></div>
                <div><a href="http://www.heroku.com/"><img src="/static/img/sponsors/other/heroku.png" height="54" width="178" alt=""></a></div>
                <div class="gap"><a href="http://www.yandex.com.tr/"><img src="/static/img/sponsors/other/yandex.png" height="47" width="120" alt=""></a></div>
                <div><a href="http://www.zendesk.com/"><img src="/static/img/sponsors/other/zendesk.png" height="46" width="200" alt=""></a></div>
                <div class="gap"><a href="http://www.edfor.com/"><img src="/static/img/sponsors/other/edfor.png" height="42" width="156" alt=""></a></div>
                <div><a href="http://girisimfabrikasi.com/"><img src="/static/img/sponsors/other/girisim-fabrikasi.png" height="66" width="105" alt=""></a></div>
            </div><!-- end silver -->

            <div class="visual-comm-sponsor sponsor-logos">
                <h2>{{ _("Görsel İletişim Sponsoru") }}</h2>
                <a href="http://www.unicrow.com/"><img src="/static/img/sponsors/other/unicrow.png" height="85" width="167" alt=""></a>
            </div><!-- end visual communication -->

            <div class="media-sponsor sponsor-logos">
                <h2>{{ _("Medya Sponsoru") }}</h2>
                <a href="http://www.webrazzi.com/"><img src="/static/img/sponsors/media/webrazzi.png" height="46" width="224" alt=""></a>
            </div><!-- end bronze -->

            <div class="call-to-action">
                <p>{{ _("JsPy'a destek olmak mı istiyorsunuz?") }}</p>
                <a href="http://jstanbul.org/jspy/sponsorluk.pdf" class="button">{{ _("Sponsorluk Dosyasını İndirin") }}</a>
            </div><!-- end call-to-action -->

        </div><!-- end container -->
    </div><!-- end sponsors -->

    <div id="schedule">
        <div class="container">
            <h1><span>{{ _("Konuşma Programı") }}</span></h1>

            {% block schedule %}{% endblock %}
        </div><!-- end container -->
    </div><!-- end schedule -->

    <div id="speakers">
        <div class="container">
            <h1><span>{{ _("Konuşmacılar") }}</span></h1>

            {% block speakers %}{% endblock %}

        </div><!-- end container -->
    </div><!-- end speakers -->

    {% block faq %}{% endblock %}

    <div id="venue">
        <div class="container">
            <h1><span>{{ _("Etkinlik Yeri ve Ulaşım") }}</span></h1>

            <div class="map">
                <iframe width="940" height="550" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=+&amp;q=%C3%87ekmek%C3%B6y,+Orman+Sokak,+34794+Istanbul,+TR&amp;t=m&amp;ie=UTF8&amp;hq=&amp;hnear=Orman+Sk,+%C3%87ekmek%C3%B6y,+Turkey&amp;ll=41.034127,29.256077&amp;spn=0.008902,0.020149&amp;z=16&amp;output=embed"></iframe>

                <div class="vcard">
                    <p class="org">{{ _("Özyeğin Üniversitesi") }}</p>
                    <p class="adr">
                        <span class="street-address">
                            Çekmeköy Yerleşkesi Orman Sokak, Çekmeköy, İstanbul
                        </span>
                    </p>
                </div>
            </div><!-- end map -->

            {% block transportation %}{% endblock %}

        </div><!-- end container -->
    </div><!-- end venue -->

    <div id="organization">
        <div class="container">
            <h1><span>{{ _("Organizasyon") }}</span></h1>

            <div class="organizators">
                {% block organizators %}{% endblock %}
            </div><!-- end organizators -->

            <div class="other-supporters">
                <a href="http://jstanbul.org/"><img src="/static/img/logo/jstanbul.jpg" height="47" width="136" alt=""></a>
                <a href="http://pyistanbul.org/"><img src="/static/img/logo/pyistanbul.jpg" height="59" width="58" alt=""></a>
            </div>

        </div><!-- end container -->
    </div><!-- end organization -->

    <footer>
        <div class="container">
            <p>{{ _("JsPy Modern Web Teknolojileri Konferansı 2013") }}</p>
            <a href="mailto:info@jstanbul.org" class="footer-email">E-Posta Gönder</a>
            <a href="http://twitter.com/jspyconf" class="footer-twitter">Twitter</a>

            <a href="http://www.unicrow.com" class="unicrow"><img src="/static/img/logo/unicrow.png" height="36" width="70" alt="Designed by Unicrow"></a>
        </div><!-- end container -->
    </footer><!-- end footer -->

    <script src="/static/js/css_browser_selector.js"></script>
    <script src="/static/js/jquery-1.9.1.min.js"></script>
    <script src="/static/js/jquery.fancybox.pack.js"></script>
    <script src="/static/js/oridomi.min.js"></script>
    <script src="/static/js/core.js"></script>

</body>
</html>
