{% from "macros.html" import turkish_locale_only with context %}
<!DOCTYPE html>
<html lang="{{ locale }}">
<head>
    <meta charset="utf-8">
    <title>{{ _("JsPy Modern Web Konferansı 2013") }}</title>
    <meta name="description" content="{{ _("Modern web teknolojileri hakkında
                                            Türkçe ve İngilizce sunumlar içeren bir konferans.") }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/icon/favicon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.fancybox.css') }}">
    <script src="{{ url_for('static', filename='js/modernizr.custom.15106.js') }}"></script>
    <script>
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-36228674-1']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
</head>
<body>

    <header id="header">
        <div class="container">
            <a href="#" class="logo"><img src="/static/img/logo/jspy2013.png" height="100" width="87" alt=""></a>
            <nav class="main-nav">
                <ul>
                    <li><a href="#" class="active">{{ _("Ana Sayfa") }}</a></li>
                    <li><a href="#sponsors">{{ _("Sponsorlar") }}</a></li>
                    <li><a href="#schedule">{{ _("Program") }}</a></li>
                    <li class="gap"><a href="#speakers">{{ _("Konuşmacılar") }}</a></li>
                    <li><a href="#faq">{{ _("SSS") }}</a></li>
                    <li><a href="#venue">{{ _("Ulaşım") }}</a></li>
                    <li><a class="nav-github" href="https://github.com/jspyconf">Github</a></li>
                    <li class="last"><a class="nav-twitter" href="https://twitter.com/jspyconf">Twitter</a></li>
                </ul>
            </nav><!-- end main-nav -->
        </div><!-- end container -->
    </header>

    <div id="intro">
        <div class="container">
            <span class="city">{{ _("Istanbul") }}</span>
            <h1>{{ _("JsPy Konferansı") }}</h1>
            <h2>{{ _("30-31 Mart 2013 — Özyeğin Üniversitesi") }}</h2>
            <p>Web'in yaşam standardı olduğu günümüz dünyasında bu teknolojinin en modern ve geniş
            kullanımlı takipçilerinden JavaScript, Python ve Ruby programlama dilleri ve sundukları
            avantajları Türkiye'de ilki düzenlenecek olan bu konferansta konuşuyoruz!</p>
            <a href="#" class="button">{{ _("Hemen Kaydol") }}</a>
        </div><!-- end container -->
    </div><!-- end intro -->

    <div id="blog">
            <h1><a href="https://twitter.com/jspyconf">Blog</a></h1>
            <ul>
                {% block tweets %}{% endblock %}
            </ul>
    </div><!-- end blog -->

    <div id="sponsors">
        <div class="container">
            <h1><span>{{ _("Sponsorlar") }}</span></h1>

            <div id="golden-sponsors" class="sponsor-logos">
                <h2>{{ _("Altın Sponsorlar") }}</h2>
                <a href="http://metglobal.com/"><img class="metglobal" src="/static/img/sponsors/gold/metglobal.png" height="80" width="352" alt=""></a>
                <a href="http://koding.com/"><img src="/static/img/sponsors/gold/koding.png" height="69" width="266" alt=""></a>
            </div><!-- end golden -->

            <div id="other-sponsors" class="sponsor-logos">
                <h2>{{ _("Sponsorlar") }}</h2>
                <div><a href="http://www.ozyegin.edu.tr/"><img src="/static/img/sponsors/other/ozyegin.png" height="57" width="194" alt=""></a></div>
                <div class="gap"><a href="http://sonsuzdongu.com/"><img src="/static/img/sponsors/other/sonsuzdongu.png" height="58" width="100" alt=""></a></div>
                <div><a href="http://www.pozitiftv.com/"><img src="/static/img/sponsors/other/pozitiftv.png" height="47" width="147" alt=""></a></div>
                <div><a href="http://www.heroku.com/"><img src="/static/img/sponsors/other/heroku.png" height="54" width="178" alt=""></a></div>
                <div class="gap"><a href="http://www.unicrow.com/"><img src="/static/img/sponsors/other/unicrow.png" height="69" width="134" alt=""></a></div>
                <div><a href="http://www.yandex.com.tr/"><img src="/static/img/sponsors/other/yandex.png" height="47" width="120" alt=""></a></div>
                <div><a href="http://www.zendesk.com/"><img src="/static/img/sponsors/other/zendesk.png" height="46" width="200" alt=""></a></div>
                <div class="gap"><a href="http://www.edfor.com/"><img src="/static/img/sponsors/other/edfor.png" height="42" width="156" alt=""></a></div>
                <div><a href="http://girisimfabrikasi.com/"><img src="/static/img/sponsors/other/girisim-fabrikasi.png" height="66" width="105" alt=""></a></div>
            </div><!-- end silver -->

            <div id="media-sponsors" class="sponsor-logos">
                <h2>{{ _("Medya Sponsoru") }}</h2>
                <a href="http://www.webrazzi.com/"><img src="/static/img/sponsors/media/webrazzi.png" height="46" width="224" alt=""></a>
            </div><!-- end bronze -->

            <div class="call-to-action">
                <p>{{ _("JsPy'a destek olmak mı istiyorsunuz?") }}</p>
                <a href="http://jstanbul.org/jspy/sponsorluk.pdf" class="button">{{ _("Sponsorluk Dosyasını İndirin") }}</a>
            </div><!-- end call-to-action -->

        </div><!-- end container -->
    </div><!-- end sponsors -->

    <div id="schedule">
        <div class="container">
            <h1><span>{{ _("Konuşma Programı") }}</span></h1>

            {% block schedule %}{% endblock %}
        </div><!-- end container -->
    </div><!-- end schedule -->

    <div id="speakers">
        <div class="container">
            <h1><span>{{ _("Konuşmacılar") }}</span></h1>

            <ul class="speaker-list">
                <li>
                    <div class="default-picture">Fotoğraf Yok</div>
                    <h2>Kenneth Reitz</h2>
                    <h3>Heroku</h3>
                    <ul class="links">
                        <li><a href="http://twitter.com/kennethreitz" class="link-twitter">Twitter</a></li>
                        <li><a href="https://github.com/kennethreitz" class="link-github">Github</a></li>
                        <li><a href="hhtp://kennethreitz.com" class="link-web">Web</a></li>
                    </ul>
                </li>
                <li>
                    <div class="default-picture">Fotoğraf Yok</div>
                    <h2>Tim Branyen</h2>
                    <h3>Matchbox</h3>
                    <ul class="links">
                        <li><a href="https://twitter.com/tbranyen" class="link-twitter">Twitter</a></li>
                        <li><a href="https://github.com/tbranyen" class="link-bitbucket">Bitbucket</a></li>
                        <li><a href="http://tbranyen.com/" class="link-web">Web</a></li>
                    </ul>
                </li>
                <li>
                    <div class="default-picture">Fotoğraf Yok</div>
                    <h2>Charles McCathieNevile</h2>
                    <h3>Yandex</h3>
                    <ul class="links">
                        <li><a href="https://twitter.com/chaals" class="link-twitter">Twitter</a></li>
                        <li><a href="http://chaals.ya.ru/" class="link-web">Web</a></li>
                    </ul>
                </li>
                <li class="last">
                    <div class="default-picture">Fotoğraf Yok</div>
                    <h2>Burak Yiğit Kaya</h2>
                    <h3>Disqus</h3>
                    <ul class="links">
                        <li><a href="https://twitter.com/madbyk" class="link-twitter">Twitter</a></li>
                        <li><a href="https://github.com/BYK" class="link-github">Github</a></li>
                        <li><a href="http://read.byk.im" class="link-web">Web</a></li>
                    </ul>
                </li>
                <li>
                    <div class="default-picture">Fotoğraf Yok</div>
                    <h2>James A. Rosen</h2>
                    <h3>Zendesk</h3>
                    <ul class="links">
                        <li><a href="https://twitter.com/jamesarosen" class="link-twitter">Twitter</a></li>
                        <li><a href="https://github.com/jamesarosen" class="link-github">Github</a></li>
                        <li><a href="http://jamesarosen.com/" class="link-web">Web</a></li>
                    </ul>
                </li>
                <li>
                    <div class="default-picture">Fotoğraf Yok</div>
                    <h2>Nathan Rapheld</h2>
                    <h3>Zendesk</h3>
                    <ul class="links">
                        <li><a href="https://twitter.com/rapheld" class="link-twitter">Twitter</a></li>
                        <li><a href="https://github.com/rapheld" class="link-github">Github</a></li>
                        <li><a href="http://rapheld.com/" class="link-web">Web</a></li>
                    </ul>
                </li>
                <li>
                    <div class="default-picture">Fotoğraf Yok</div>
                    <h2>Osman Yüksel</h2>
                    <h3>Sonsuzdöngü</h3>
                    <ul class="links">
                        <li><a href="https://twitter.com/yuxel" class="link-twitter">Twitter</a></li>
                        <li><a href="https://github.com/yuxel" class="link-github">Github</a></li>
                        <li><a href="http://yuxel.net" class="link-web">Web</a></li>
                    </ul>
                </li>
                <li class="last">
                    <div class="default-picture">Fotoğraf Yok</div>
                    <h2>Fatih Erikli</h2>
                    <h3>MetGlobal</h3>
                    <ul class="links">
                        <li><a href="https://twitter.com/fthrkl" class="link-twitter">Twitter</a></li>
                        <li><a href="https://github.com/fatiherikli" class="link-github">Github</a></li>
                        <li><a href="http://fatiherikli.com/" class="link-web">Web</a></li>
                    </ul>
                </li>
                <li>
                    <div class="default-picture">Fotoğraf Yok</div>
                    <h2>Tayfun Şen</h2>
                    <h3>Markafoni</h3>
                    <ul class="links">
                        <li><a href="https://twitter.com/tayfunsen" class="link-twitter">Twitter</a></li>
                        <li><a href="https://github.com/tayfun" class="link-github">Github</a></li>
                        <li><a href="http://blog.tayfunsen.com/" class="link-web">Web</a></li>
                    </ul>
                </li>
                <li>
                    <div class="default-picture">Fotoğraf Yok</div>
                    <h2>Özgür Vatansever</h2>
                    <h3>Markafoni</h3>
                    <ul class="links">
                        <li><a href="https://twitter.com/ozgurv" class="link-twitter">Twitter</a></li>
                        <li><a href="https://github.com/ozgur" class="link-github">Github</a></li>
                    </ul>
                </li>
                <li>
                    <div class="default-picture">Fotoğraf Yok</div>
                    <h2>Serdar Dalgıç</h2>
                    <h3>Markafoni</h3>
                    <ul class="links">
                        <li><a href="https://twitter.com/serdaroncode" class="link-twitter">Twitter</a></li>
                        <li><a href="https://github.com/serdardalgic/" class="link-github">Github</a></li>
                        <li><a href="http://www.serdardalgic.org/" class="link-web">Web</a></li>
                    </ul>
                </li>
                <li class="last">
                    <div class="default-picture">Fotoğraf Yok</div>
                    <h2>Uğur Özyılmazel</h2>
                    <h3>Fontronik</h3>
                    <ul class="links">
                        <li><a href="https://twitter.com/ugurozyilmazel" class="link-twitter">Twitter</a></li>
                        <li><a href="https://github.com/vigo" class="link-github">Github</a></li>
                        <li><a href="http://ugur.ozyilmazel.com/" class="link-web">Web</a></li>
                    </ul>
                </li>
                <li>
                    <div class="default-picture">Fotoğraf Yok</div>
                    <h2>Taylan Pince</h2>
                    <h3>Hipo</h3>
                    <ul class="links">
                        <li><a href="https://twitter.com/taylanpince" class="link-twitter">Twitter</a></li>
                        <li><a href="https://github.com/taylanpince" class="link-github">Github</a></li>
                        <li><a href="http://taylanpince.com/" class="link-web">Web</a></li>
                    </ul>
                </li>
                <li>
                    <div class="default-picture">Fotoğraf Yok</div>
                    <h2>Murat Çorlu</h2>
                    <h3>Sahibinden</h3>
                    <ul class="links">
                        <li><a href="https://twitter.com/muratcorlu" class="link-twitter">Twitter</a></li>
                        <li><a href="https://github.com/muratcorlu" class="link-github">Github</a></li>
                        <li><a href="http://muratcorlu.com/" class="link-web">Web</a></li>
                    </ul>
                </li>
                <li>
                    <div class="default-picture">Fotoğraf Yok</div>
                    <h2>Emrah Ayanoğlu</h2>
                    <h3>STM</h3>
                    <ul class="links">
                        <li><a href="https://twitter.com/emrahayanoglu" class="link-twitter">Twitter</a></li>
                        <li><a href="https://github.com/emrahayanoglu" class="link-github">Github</a></li>
                    </ul>
                </li>
                <li class="last">
                    <div class="default-picture">Fotoğraf Yok</div>
                    <h2>Chris Thorn</h2>
                    <h3>Koding</h3>
                </li>
                <li>
                    <div class="default-picture">Fotoğraf Yok</div>
                    <h2>Altan Yılmaz</h2>
                    <h3>Yemeksepeti</h3>
                    <ul class="links">
                        <li><a href="https://twitter.com/allthein" class="link-twitter">Twitter</a></li>
                        <li><a href="https://github.com/allthein" class="link-github">Github</a></li>
                        <li><a href="http://altanyilmaz.com/" class="link-web">Web</a></li>
                    </ul>
                </li>
                <li>
                    <div class="default-picture">Fotoğraf Yok</div>
                    <h2>Kadir Pekel</h2>
                    <h3>MetGlobal</h3>
                    <span class="sponsor-badge active"><span>Sponsor</span></span>
                    <ul class="links">
                        <li><a href="https://twitter.com/kadirpekel" class="link-twitter">Twitter</a></li>
                        <li><a href="https://github.com/kadirpekel" class="link-github">Github</a></li>
                        <li><a href="http://kadirpekel.com/" class="link-web">Web</a></li>
                    </ul>
                </li>
                <li>
                    <div class="default-picture">Fotoğraf Yok</div>
                    <h2>Sinan Yaşar</h2>
                    <h3>Koding</h3>
                    <span class="sponsor-badge active"><span>Sponsor</span></span>
                    <ul class="links">
                        <li><a href="https://twitter.com/sinanyasar" class="link-twitter">Twitter</a></li>
                        <li><a href="https://github.com/sinanyasar" class="link-github">Github</a></li>
                    </ul>
                </li>
            </ul>

        </div><!-- end container -->
    </div><!-- end speakers -->

    <div id="venue">
        <div class="container">
            <h1><span>{{ _("Etkinlik Yeri ve Ulaşım") }}</span></h1>

            <div class="map">
                <iframe width="940" height="550" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=+&amp;q=%C3%87ekmek%C3%B6y,+Orman+Sokak,+34794+Istanbul,+TR&amp;t=m&amp;ie=UTF8&amp;hq=&amp;hnear=Orman+Sk,+%C3%87ekmek%C3%B6y,+Turkey&amp;ll=41.034127,29.256077&amp;spn=0.008902,0.020149&amp;z=16&amp;output=embed"></iframe>

                <div class="vcard">
                    <p class="org">{{ _("Özyeğin Üniversitesi") }}</p>
                    <p class="adr">
                        <span class="street-address">
                            Çekmeköy Yerleşkesi Orman Sokak, Çekmeköy, İstanbul
                        </span>
                    </p>
                </div>
            </div><!-- end map -->

            {% call turkish_locale_only() %}
            <div class="transportation">
                <h2>Etkinlik Yerine Ulaşım ve Diğer Bilgiler</h2>
                <p>
                    Etkinlik günleri boyunca sabahları 08:30 - 09:30 arası öğlenleri ise 12:30 - 13:00 arası Özyeğin
                    Üniversitesi Altunizade yerleşkesi önünden servis kaldırılacaktır. Servislerimiz ucretsizdir.
                    Yerleşke Altunizade metrobüs durağının hemen yanındadır. Altunizade metrobus durağında indikten
                    sonra üst geçidi takip ederek yerleşkeye kolayca ulaşabilirsiniz. Yukarıda belirtilen saatler
                    dışında servis ile Çekmeköy'e gelmek isterseniz, Özyeğin Üniversitesinin saat başı yine aynı yerden
                    <a href="http://ozyegin.edu.tr/OzUDE-YASAM/Kampuslere-Ulasim/Altunizade-Cekmekoy-Altunizade-Shuttle-Hours">kalkan servislerini</a>
                    2 TL karşılığında gün boyunca kullanabilirsiniz. Etkinlik sonunda yine Çekmeköy yerleşkesinden
                    Altunizade yerleşkesine servis kaldırılacaktır.
                </p>
                <h2>Araç ile Çekmeköy Yerleşkesine Ulaşım</h2>
                <p>
                    D100 – Edirne/Topkapı – 1. köprü istikametinden gelinirse: Köprüden çıktıktan 2 km sonra Ümraniye -
                    Şile sapağından sapınız. Hiçbir yöne sapmadan Şile tabelasını yaklaşık 23 km takip ettikten sonra
                    Taşdelen Mevkii'nde, yolun solunda Ford bayisini göreceksiniz. Özyeğin Üniversitesi Yerleşkesi, Ford'u
                    5 km geçtikten sonra sol tarafta yer alıyor. Yerleşkeyi geçerek 2 km ilerideki adadan (Ömerli Göbeği)
                    U dönüşü gerçekleştirip yön levhalarını takip ediniz.
                </p>
                <p>
                    TEM – Edirne – 2. köprü istikametinden gelinirse: Köprüden çıktıktan sonra Ümraniye – Şile sapağına
                    kadar devam ediniz. Ümraniye – Şile sapağından saptıktan yaklaşık 15 km sonra Taşdelen Mevkii'nde,
                    yolun solunda Ford bayisi göreceksiniz. Özyeğin Üniversitesi Yerleşkesi, Ford'u 5 km geçtikten sonra
                    sol tarafta yer alıyor. Yerleşkeyi geçerek 2 km ilerideki adadan (Ömerli Göbeği) U dönüşü gerçekleştirip
                    yön levhalarını takip ediniz.
                </p>
                <p>
                    TEM – Ankara istikametinden gelinirse: Gişelerden çıktıktan sonra Fatih Sultan Mehmet Köprüsü
                    tabelasından sapınız. Şile – Ümraniye çıkışına kadar yolu takip ediniz. Şile – Ümraniye sapağından
                    saptıktan yaklaşık 15 km sonra Taşdelen Mevkii'nde, yolun solunda Ford bayisi göreceksiniz. Özyeğin
                    Üniversitesi Yerleşkesi, Ford bayisini 5 km geçtikten sonra sol tarafta yer alıyor. Yerleşkeyi
                    geçerek 2 km ilerideki adadan (Ömerli Göbeği) U dönüşü gerçekleştirip yön levhalarını takip ediniz.
                </p>
            </div><!-- end transportation -->
            {% endcall %}

        </div><!-- end container -->
    </div><!-- end venue -->

    <div id="faq">
        <div class="container">
            <div class="call-to-action">
                <p>{{ _("Aklınıza takılan bir sorunuz mu var?") }}</p>
                <a href="mailto:info@jstanbul.org" class="button">{{ _("Bize Ulaşın") }}</a>
            </div><!-- end call-to-action -->
        </div><!-- end container -->
    </div><!-- end faq -->

    <div id="organization">
        <div class="container">
            <h1><span>{{ _("Organizasyon") }}</span></h1>

            <div class="organizators">
                {% block organizators %}{% endblock %}
            </div><!-- end organizators -->

            <div class="other-supporters">
                <a href="http://jstanbul.org/"><img src="/static/img/logo/jstanbul.jpg" height="47" width="136" alt=""></a>
                <a href="http://pyistanbul.org/"><img src="/static/img/logo/pyistanbul.jpg" height="59" width="58" alt=""></a>
            </div>

        </div><!-- end container -->
    </div><!-- end organization -->

    <footer>
        <div class="container">
            <p>{{ _("JsPy Modern Web Teknolojileri Konferansı 2013") }}</p>
            <a href="mailto:info@jstanbul.org" class="footer-email">E-Posta Gönder</a>
            <a href="http://twitter.com/jspyconf" class="footer-twitter">Twitter</a>

            <a href="http://www.unicrow.com" class="unicrow"><img src="/static/img/logo/unicrow.png" height="36" width="70" alt="Designed by Unicrow"></a>
        </div><!-- end container -->
    </footer><!-- end footer -->

    <script src="/static/js/css_browser_selector.js"></script>
    <script src="/static/js/jquery-1.9.1.min.js"></script>
    <script src="/static/js/jquery.fancybox.pack.js"></script>
    <script src="/static/js/oridomi.min.js"></script>
    <script src="/static/js/core.js"></script>

</body>
</html>
