	<div id="presentations">
		<div class="container">
			<h1><span>Sunumlar</span></h1>
			<ul>
				<li>
					<a href="http://embed2.keyground.net/?sid=515ec8d9c3f4252edf00001f">
						<span class="play-icon"></span>
						<img src="static/img/presentation-thumbs/thumb04.jpg" alt="" class="thumb">
					</a>
					<h2>Açılış Konuşması</h2>
					<h3>Cihan Okyay</h3>
				</li>
				<li>
					<a href="http://embed2.keyground.net/?sid=51652444c3f4257068000012">
						<span class="play-icon"></span>
						<img src="static/img/presentation-thumbs/thumb01.jpg" alt="" class="thumb">
					</a>
					<h2>Fontronik - Merhaba Sinatra!</h2>
					<h3>Uğur Özyılmazel</h3>
				</li>
				<li class="last">
					<a href="http://embed2.keyground.net/?sid=515edd59c3f4252edf000021">
						<span class="play-icon"></span>
						<img src="static/img/presentation-thumbs/thumb02.jpg" alt="" class="thumb">
					</a>
					<h2>Koding</h2>
					<h3>Devrim Yaşar</h3>
				</li>
				<li>
					<a href="http://embed2.keyground.net/?sid=515ed597c3f4252edf000020">
						<span class="play-icon"></span>
						<img src="static/img/presentation-thumbs/thumb03.jpg" alt="" class="thumb">
					</a>
					<h2>Programming with Yandex Tools</h2>
					<h3>Charles McCathieNevile</h3>
				</li>
				<li>
					<a href="http://embed2.keyground.net/?sid=515c9bd7c3f4252edf00001b">
						<span class="play-icon"></span>
						<img src="static/img/presentation-thumbs/thumb05.jpg" alt="" class="thumb">
					</a>
					<h2>The Holy Grail- Client &amp; Server</h2>
					<h3>Tim Branyen</h3>
				</li>
				<li class="last">
					<a href="http://embed2.keyground.net/?sid=515c9335c3f4252edf00001a">
						<span class="play-icon"></span>
						<img src="static/img/presentation-thumbs/thumb06.jpg" alt="" class="thumb">
					</a>
					<h2>API Design and Implementation Using MongoDB and Tastypie</h2>
					<h3>Tayfun Şen</h3>
				</li>
				<li>
					<a href="http://embed2.keyground.net/?sid=515c86abc3f4252edf000019">
						<span class="play-icon"></span>
						<img src="static/img/presentation-thumbs/thumb07.jpg" alt="" class="thumb">
					</a>
					<h2>Python for Humans</h2>
					<h3>Kenneth Reitz</h3>
				</li>
				<li>
					<a href="http://embed2.keyground.net/?sid=515c7fa9c3f4252edf000018">
						<span class="play-icon"></span>
						<img src="static/img/presentation-thumbs/thumb08.jpg" alt="" class="thumb">
					</a>
					<h2>Python ile Bir Değişim Hikayesi</h2>
					<h3>Kadir Pekel</h3>
				</li>
				<li class="last">
					<a href="http://embed2.keyground.net/?sid=515c7328c3f4252edf000017">
						<span class="play-icon"></span>
						<img src="static/img/presentation-thumbs/thumb09.jpg" alt="" class="thumb">
					</a>
					<h2>Django ORM Optimizasyonu</h2>
					<h3>Fatih Erikli</h3>
				</li>
				<li>
					<a href="http://embed2.keyground.net/?sid=515c6d6cc3f4252edf000016">
						<span class="play-icon"></span>
						<img src="static/img/presentation-thumbs/thumb10.jpg" alt="" class="thumb">
					</a>
					<h2>Standardized real-time events with EventSource</h2>
					<h3>Burak Yiğit Kaya</h3>
				</li>
				<li>
					<a href="http://embed2.keyground.net/?sid=515c6328c3f4252edf000015">
						<span class="play-icon"></span>
						<img src="static/img/presentation-thumbs/thumb11.jpg" alt="" class="thumb">
					</a>
					<h2>Python Optimizasyon ve Performans Tüyoları</h2>
					<h3>Özgür Vatansever</h3>
				</li>
				<li class="last">
					<a href="http://embed2.keyground.net/?sid=515c5403c3f4252edf000014">
						<span class="play-icon"></span>
						<img src="static/img/presentation-thumbs/thumb12.jpg" alt="" class="thumb">
					</a>
					<h2>Single-Page Apps with Ember</h2>
					<h3>Nathan Rapheld</h3>
				</li>
				<li>
					<a href="http://embed2.keyground.net/?sid=515c4aefc3f4252edf000013">
						<span class="play-icon"></span>
						<img src="static/img/presentation-thumbs/thumb13.jpg" alt="" class="thumb">
					</a>
					<h2>JavaScript Tools for Developer Happiness</h2>
					<h3>James A. Rosen</h3>
				</li>
				<li>
					<a href="http://embed2.keyground.net/?sid=515c3f94c3f4252edf000012">
						<span class="play-icon"></span>
						<img src="static/img/presentation-thumbs/thumb14.jpg" alt="" class="thumb">
					</a>
					<h2>Python ve Ruby ile Gerçek Zamanlı Web Uygulamaları</h2>
					<h3>Emrah Ayanoğlu</h3>
				</li>
			</ul>
		</div>
	</div>