<ul class="speaker-list">
    <li>
        <img src="/static/img/speakers/kenneth.jpg" height="220" width="220" alt="">
        <h2>Kenneth Reitz</h2>
        <h3>Heroku</h3>
        <ul class="links">
            <li><a href="http://twitter.com/kennethreitz" class="link-twitter">Twitter</a></li>
            <li><a href="https://github.com/kennethreitz" class="link-github">Github</a></li>
            <li><a href="hhtp://kennethreitz.com" class="link-web">Web</a></li>
        </ul>
    </li>
    <li>
        <img src="/static/img/speakers/timbranyen.jpg" height="220" width="220" alt="">
        <h2>Tim Branyen</h2>
        <h3>Matchbox</h3>
        <ul class="links">
            <li><a href="https://twitter.com/tbranyen" class="link-twitter">Twitter</a></li>
            <li><a href="https://github.com/tbranyen" class="link-github">Github</a></li>
            <li><a href="http://tbranyen.com/" class="link-web">Web</a></li>
        </ul>
    </li>
    <li>
        <img src="/static/img/speakers/chaals.jpg" height="220" width="220" alt="">
        <h2>Charles McCathieNevile</h2>
        <h3>Yandex</h3>
        <ul class="links">
            <li><a href="https://twitter.com/chaals" class="link-twitter">Twitter</a></li>
            <li><a href="http://chaals.ya.ru/" class="link-web">Web</a></li>
        </ul>
    </li>
    <li class="last">
        <img src="/static/img/speakers/byk.jpg" height="220" width="220" alt="">
        <h2>Burak Yiğit Kaya</h2>
        <h3>Disqus</h3>
        <ul class="links">
            <li><a href="https://twitter.com/madbyk" class="link-twitter">Twitter</a></li>
            <li><a href="https://github.com/BYK" class="link-github">Github</a></li>
            <li><a href="http://read.byk.im" class="link-web">Web</a></li>
        </ul>
    </li>
    <li>
        <img src="/static/img/speakers/jamesrosen.jpg" height="220" width="220" alt="">
        <h2>James A. Rosen</h2>
        <h3>Zendesk</h3>
        <ul class="links">
            <li><a href="https://twitter.com/jamesarosen" class="link-twitter">Twitter</a></li>
            <li><a href="https://github.com/jamesarosen" class="link-github">Github</a></li>
            <li><a href="http://jamesarosen.com/" class="link-web">Web</a></li>
        </ul>
    </li>
    <li>
        <img src="/static/img/speakers/nathan.jpg" height="220" width="220" alt="">
        <h2>Nathan Rapheld</h2>
        <h3>Zendesk</h3>
        <ul class="links">
            <li><a href="https://twitter.com/rapheld" class="link-twitter">Twitter</a></li>
            <li><a href="https://github.com/rapheld" class="link-github">Github</a></li>
            <li><a href="http://rapheld.com/" class="link-web">Web</a></li>
        </ul>
    </li>
    <li>
        <img src="/static/img/speakers/osmanyuksel.jpg" height="220" width="220" alt="">
        <h2>Osman Yüksel</h2>
        <h3>Sonsuzdöngü</h3>
        <ul class="links">
            <li><a href="https://twitter.com/yuxel" class="link-twitter">Twitter</a></li>
            <li><a href="https://github.com/yuxel" class="link-github">Github</a></li>
            <li><a href="http://yuxel.net" class="link-web">Web</a></li>
        </ul>
    </li>
    <li class="last">
        <img src="/static/img/speakers/fatiherikli.jpg" height="220" width="220" alt="">
        <h2>Fatih Erikli</h2>
        <h3>MetGlobal</h3>
        <ul class="links">
            <li><a href="https://twitter.com/fthrkl" class="link-twitter">Twitter</a></li>
            <li><a href="https://github.com/fatiherikli" class="link-github">Github</a></li>
            <li><a href="http://fatiherikli.com/" class="link-web">Web</a></li>
        </ul>
    </li>
    <li>
        <img src="/static/img/speakers/tayfun.jpg" height="220" width="220" alt="">
        <h2>Tayfun Şen</h2>
        <h3>Markafoni</h3>
        <ul class="links">
            <li><a href="https://twitter.com/tayfunsen" class="link-twitter">Twitter</a></li>
            <li><a href="https://github.com/tayfun" class="link-github">Github</a></li>
            <li><a href="http://blog.tayfunsen.com/" class="link-web">Web</a></li>
        </ul>
    </li>
    <li>
        <img src="/static/img/speakers/ozgur_vatansever.jpg" height="220" width="220" alt="">
        <h2>Özgür Vatansever</h2>
        <h3>Markafoni</h3>
        <ul class="links">
            <li><a href="https://twitter.com/ozgurv" class="link-twitter">Twitter</a></li>
            <li><a href="https://github.com/ozgur" class="link-github">Github</a></li>
        </ul>
    </li>
    <li>
        <img src="/static/img/speakers/serdar.jpg" height="220" width="220" alt="">
        <h2>Serdar Dalgıç</h2>
        <h3>Markafoni</h3>
        <ul class="links">
            <li><a href="https://twitter.com/serdaroncode" class="link-twitter">Twitter</a></li>
            <li><a href="https://github.com/serdardalgic/" class="link-github">Github</a></li>
            <li><a href="http://www.serdardalgic.org/" class="link-web">Web</a></li>
        </ul>
    </li>
    <li class="last">
        <img src="/static/img/speakers/vigo.jpg" height="220" width="220" alt="">
        <h2>Uğur Özyılmazel</h2>
        <h3>Fontronik</h3>
        <ul class="links">
            <li><a href="https://twitter.com/ugurozyilmazel" class="link-twitter">Twitter</a></li>
            <li><a href="https://github.com/vigo" class="link-github">Github</a></li>
            <li><a href="http://ugur.ozyilmazel.com/" class="link-web">Web</a></li>
        </ul>
    </li>
    <li>
        <img src="/static/img/speakers/taylanpince.jpg" height="220" width="220" alt="">
        <h2>Taylan Pince</h2>
        <h3>Hipo</h3>
        <ul class="links">
            <li><a href="https://twitter.com/taylanpince" class="link-twitter">Twitter</a></li>
            <li><a href="https://github.com/taylanpince" class="link-github">Github</a></li>
            <li><a href="http://taylanpince.com/" class="link-web">Web</a></li>
        </ul>
    </li>
    <li>
        <img src="/static/img/speakers/muratcorlu.jpg" height="220" width="220" alt="">
        <h2>Murat Çorlu</h2>
        <h3>sahibinden.com</h3>
        <ul class="links">
            <li><a href="https://twitter.com/muratcorlu" class="link-twitter">Twitter</a></li>
            <li><a href="https://github.com/muratcorlu" class="link-github">Github</a></li>
            <li><a href="http://muratcorlu.com/" class="link-web">Web</a></li>
        </ul>
    </li>
    <li>
        <img src="/static/img/speakers/emrahayanoglu.jpg" height="220" width="220" alt="">
        <h2>Emrah Ayanoğlu</h2>
        <h3>STM</h3>
        <ul class="links">
            <li><a href="https://twitter.com/emrahayanoglu" class="link-twitter">Twitter</a></li>
            <li><a href="https://github.com/emrahayanoglu" class="link-github">Github</a></li>
        </ul>
    </li>
    <li class="last">
        <div class="default-picture">Fotoğraf Yok</div>
        <h2>Chris Thorn</h2>
        <h3>Koding</h3>
    </li>
    <li>
        <img src="/static/img/speakers/altan.jpg" height="220" width="220" alt="">
        <h2>Altan Yılmaz</h2>
        <h3>Yemeksepeti</h3>
        <ul class="links">
            <li><a href="https://twitter.com/allthein" class="link-twitter">Twitter</a></li>
            <li><a href="https://github.com/allthein" class="link-github">Github</a></li>
            <li><a href="http://altanyilmaz.com/" class="link-web">Web</a></li>
        </ul>
    </li>
    <li>
        <img src="/static/img/speakers/kadirpekel.jpg" height="220" width="220" alt="">
        <h2>Kadir Pekel</h2>
        <h3>MetGlobal</h3>
        <span class="sponsor-badge active"><span>Sponsor</span></span>
        <ul class="links">
            <li><a href="https://twitter.com/kadirpekel" class="link-twitter">Twitter</a></li>
            <li><a href="https://github.com/kadirpekel" class="link-github">Github</a></li>
            <li><a href="http://kadirpekel.com/" class="link-web">Web</a></li>
        </ul>
    </li>
    <li>
        <div class="default-picture">Fotoğraf Yok</div>
        <h2>Devrim Yaşar</h2>
        <h3>Koding</h3>
        <span class="sponsor-badge active"><span>Sponsor</span></span>
        <ul class="links">
            <li><a href="https://twitter.com/devrimyasar" class="link-twitter">Twitter</a></li>
            <li><a href="https://github.com/devrim" class="link-github">Github</a></li>
        </ul>
    </li>
</ul>
