<div class="transportation">
    <h2>Etkinlik Yerine Ulaşım ve Diğer Bilgiler</h2>
    <p>
        Etkinlik günleri boyunca sabahları 08:30 - 09:30 arası; öğlenleri ise 12:30 - 13:00 arası Özyeğin
        Üniversitesi Altunizade yerleşkesi önünden, etkinliğin olduğu Çekmeköy yerleşkesine servis kaldırılacaktır.
        Servislerimiz ucretsizdir. Yerleşke Altunizade metrobüs durağının hemen yanındadır. Altunizade metrobus
        durağında indikten sonra üst geçidi takip ederek yerleşkeye kolayca ulaşabilirsiniz. Yukarıda belirtilen saatler
        dışında servis ile Çekmeköy'e gelmek isterseniz, Özyeğin Üniversitesinin saat başı yine aynı yerden
        &nbsp;<a href="http://ozyegin.edu.tr/OzUDE-YASAM/Kampuslere-Ulasim/Altunizade-Cekmekoy-Altunizade-Shuttle-Hours">kalkan servislerini</a>&nbsp;
        2 TL karşılığında gün boyunca kullanabilirsiniz. Etkinlik sonunda yine Çekmeköy yerleşkesinden
        Altunizade yerleşkesine servis kaldırılacaktır.
    </p>
    <h2>Araç ile Çekmeköy Yerleşkesine Ulaşım</h2>
    <p>
        D100 – Edirne/Topkapı – 1. köprü istikametinden gelinirse: Köprüden çıktıktan 2 km sonra Ümraniye -
        Şile sapağından sapınız. Hiçbir yöne sapmadan Şile tabelasını yaklaşık 23 km takip ettikten sonra
        Taşdelen Mevkii'nde, yolun solunda Ford bayisini göreceksiniz. Özyeğin Üniversitesi Yerleşkesi, Ford'u
        5 km geçtikten sonra sol tarafta yer alıyor. Yerleşkeyi geçerek 2 km ilerideki adadan (Ömerli Göbeği)
        U dönüşü gerçekleştirip yön levhalarını takip ediniz.
    </p>
    <p>
        TEM – Edirne – 2. köprü istikametinden gelinirse: Köprüden çıktıktan sonra Ümraniye – Şile sapağına
        kadar devam ediniz. Ümraniye – Şile sapağından saptıktan yaklaşık 15 km sonra Taşdelen Mevkii'nde,
        yolun solunda Ford bayisi göreceksiniz. Özyeğin Üniversitesi Yerleşkesi, Ford'u 5 km geçtikten sonra
        sol tarafta yer alıyor. Yerleşkeyi geçerek 2 km ilerideki adadan (Ömerli Göbeği) U dönüşü gerçekleştirip
        yön levhalarını takip ediniz.
    </p>
    <p>
        TEM – Ankara istikametinden gelinirse: Gişelerden çıktıktan sonra Fatih Sultan Mehmet Köprüsü
        tabelasından sapınız. Şile – Ümraniye çıkışına kadar yolu takip ediniz. Şile – Ümraniye sapağından
        saptıktan yaklaşık 15 km sonra Taşdelen Mevkii'nde, yolun solunda Ford bayisi göreceksiniz. Özyeğin
        Üniversitesi Yerleşkesi, Ford bayisini 5 km geçtikten sonra sol tarafta yer alıyor. Yerleşkeyi
        geçerek 2 km ilerideki adadan (Ömerli Göbeği) U dönüşü gerçekleştirip yön levhalarını takip ediniz.
    </p>
</div><!-- end transportation -->
